{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static %}
{% block content %}
    <link type="text/javascript" href="{% static '/static/js/graph.js' %}"/>
<link type="text/javascript" href="{% static 'polls/style.css' %}"/>
    {% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}{% endblock %}

{% block bodyclass %}{{ block.super }} {% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
    <iframe src="https://schooldonations.herokuapp.com/" width="100%" height="500" frameborder="0">
  <p> <a href="https://schooldonations.herokuapp.com/"> Fallback link for browsers that don't support iframes</a> </p>
</iframe>
{% endblock %}
